/*
  =====================================
      Body styling
  =====================================
  */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Noto, sans;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.content-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.heading-container {
  width: 100%;
  text-align: center;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8em;
  color: #666;
  margin-top: 10px;
  margin-bottom: 50px;
}

/*
    =====================================
        Ticket table styling
    =====================================
    */

.data-left {
  text-align: left;
}

figure.tabula {
  margin-bottom: 60px;
  overflow-x: auto;
}

.text-allign-center {
  text-align: center;
}

.text-allign-right {
  text-align: right;
}

table {
  width: 100%;
  max-width: 800px;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: rgba(242, 237, 236, 0.168);
}

th,
tr,
td {
  border: 0px solid;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(177, 171, 171, 0.11);
}

.price-table {
  width: 100%;
  max-width: 800px;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: rgba(242, 237, 236, 0.168);
}

.price-table td {
  border: 0px solid;
  padding: 8px;
}

.price-table td:first-child(even) {
  background-color: rgba(177, 171, 171, 0.11);
}

.price-table td:first-child {
  width: 80%;
}

.price-table td:nth-child(2) {
  width: 20%;
}

.price-table td:nth-child(3) {
  width: 25%;
}

/*
    =====================================
        Ticket amount table styling
    =====================================
    */
.ticket-table {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
}
.ticket-table th,
.ticket-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.ticket-table th {
  background-color: #f2f2f2;
}
.ticket-table input[type="number"] {
  width: 60px;
  padding: 5px;
}
.ticket-table .total {
  text-align: right;
}

/*
    =====================================
        Button styling
    =====================================
    */

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.button-container button,
.view-cart {
  padding: 10px 20px;
  background-color: #c8a38a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.button-container button:hover {
  background-color: #e5c6b1;
}

.text-button-container {
  text-align: center;
  margin-top: 20px;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #c8a38a;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #e5c6b1;
}

/*
    =====================================
        Cart count styling
    =====================================
  */

.cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 5px;
  font-size: 0.8em;
  position: absolute;
  top: 10px;
  right: 20px;
}

/*
    =====================================
        Cart table styling
    =====================================
    */

#cart-items {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
}
#cart-items th,
#cart-items td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
#cart-items th {
  background-color: #f2f2f2;
}
